# Code formatters & linters
black==24.8.0
isort==5.13.2
flake8==7.1.1
pylint==3.2.7

# Static typing
mypy==1.11.2
types-requests==2.32.0.20240822

# Security tools
bandit==1.7.9
safety==3.2.9

# Misc (if needed by CI pre-commit hooks)
tomli==2.0.1
